body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

.container {
    width: 95%;
    height: auto;
    box-sizing: border-box;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 15px;
    grid-template-columns: 200px auto;
}

.image img {
    width: 200px;
    height: 100px;
}
.duration{
    grid-row: 1/2;
    grid-column: 1/2;

}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}