body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

.container {
    width: 95%;
    height: 100px;
    background-color: red;
    box-sizing: border-box;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: grid;
    grid-template-columns: 200px 600px;
}

.image img {
    width: 200px;
    height: 100px;
}
.duration{
    grid-row: 1/2;
    grid-column: 1/2;

}